body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

a {
  text-decoration: none;
  color: rgb(69, 175, 191);
}

a:hover {
  text-decoration: none;
  color: #00fbff;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
  color: rgb(159, 204, 214);
}

.bg-black {
  background-color: rgb(46, 44, 44);
}

.navbar-brand {
  color: rgb(69, 175, 191);
}

.navbar-brand:hover {
  color: #00fbff;
}

.site-header .navbar-nav .nav-link {
  color: rgb(69, 175, 191);
}

.site-header .navbar-nav .nav-link:hover {
  color: #00fbff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.btn {
  color: rgb(69, 175, 191);
}

.btn:hover {
  color: #00fbff;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at center, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0) 90%);
  border-radius: 50px; 
}

.block__with__player {
  margin: 10px;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
  position: relative;
}

#my__player {
  position: relative; /* Используйте absolute positioning */
  top: 100%; /* Позиционируйте элемент по вертикали */
  left: 50%; /* Позиционируйте элемент по горизонтали */
  transform: translate(-50%, -0%); /* Смещайте элемент на половину его ширины и высоты влево и вверх */
  min-width: 500px;
  max-width: 800px;
 }
 

.flexy__title {
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vjs-matrix .vjs-big-play-button {
  border-color: white;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

/* Change all text and icon colors in the player. */
.vjs-matrix.video-js {
  color: white;
}