
body {
  background: #fafafa;
  color: #333333;
}

a {
  text-decoration: none;
  color: rgb(69, 175, 191);
}

a:hover {
  text-decoration: none;
  color: #00fbff;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
  color: rgb(159, 204, 214);
}

.bg-black {
  background-color: rgb(46, 44, 44);
}

.navbar-brand {
  color: rgb(69, 175, 191);
}

.navbar-brand:hover {
  color: #00fbff;
}

.site-header .navbar-nav .nav-link {
  color: rgb(69, 175, 191);
}

.site-header .navbar-nav .nav-link:hover {
  color: #00fbff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.btn {
  color: rgb(69, 175, 191);
}

.btn:hover {
  color: #00fbff;
}